<div class="p-3">
    <h2 id="title">Welcome to Ember</h2>
    <Button
        @type="primary"
        @icon="user"
        @label="Remove"
        @autofocus={{true}}
        @tabindex={{2}}
    />
    <Button
        @type="success"
        @outline={{true}}
        @icon="save"
        @label="Save"
        @autofocus={{false}}
        @tabindex={{3}}
    />
    <Button
        @type="danger"
        @icon="ban"
        @label="Cancel"
        @autofocus={{false}}
        @tabindex={{2}}
    />
    <Button
        @type="danger"
        @outline={{true}}
        @icon="ban"
        @label="Un-tabbable"
        @tabindex={{-1}}
    />
    {{outlet}}
</div>
